*{
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
}
.nav,a,.nav2{
    display: inline;
    text-decoration: none;
    
    width: 100%;
    
}
.nav{
    position: relative;
    top: 0px;
    width: 100%;
    background-color: antiquewhite;
    justify-content: center;
    padding: 2%;
    
}
.nav2{
    margin-left: 45%;
}
.nav3,.nav1{
    padding: 20px;
    font-size: larger;
    font-family: sans-serif;
    letter-spacing: 4px;
    color: black;
    padding: 20px; 
    justify-content: center;
}
#Projects{
    position: relative;
    top: 0%;
}
.one{
    position: absolute;
    top: 20px;
}
.img1{
    position: relative;
    top: 0px;
    z-index: -1;
}
b{
    background-color: black;
    opacity: 0.5;
    color: white;
    
}
.p{
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 5px;
   
    
   
}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .projectImg{
  
  width: 350px;
  margin: 10px;
  position: relative
  }
  .container p{display: inline-block;
  background-color: black;
  color: aliceblue;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  }



