
a{
    text-decoration: none;
    display: inline;
    letter-spacing: 3.5px;
    color: black;
    font-size: large;

}
.nav1{
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
}
.bar{
    margin-left: 56%;
}
.nav4,.nav5{
    margin-left: 3%;
}
.nav2{
    margin-left: 2%;
}

.br2{
    position: relative;
    margin: 0;
}
.br3{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: xx-large;
    letter-spacing: 3.5px;
    color: white;
}
strong{
    color: black;    
    background-color: rgba(6,5,5,0.5);  
}
.img1{
    position: relative;
    top: 0;
}
.left-top{
    position: absolute;
    top: 0%;
    left: 2%;
    background-color: black;
    color: white;
    padding: 8px;
}
.left-left{
    position: absolute;
    top: 0%;
    left: 26.5%;
    background-color: black;
    color: white;
    padding: 8px;

}
.left-right{
    position: absolute;
    top: 0%;
    left: 50.7%;
    background-color: black;
    color: white;
    padding: 8px;

}
.left-bottom{
    position: absolute;
    top: 0%;
    left: 75%;
    background-color: black;
    color: white;
    padding: 8px;

}
hr{color: silver;
    opacity: 0.3;
}
h1,h4{
    display: inline-block;
    
}
.sec1{
    width: 100%;
}
.para{
    display: inline-block;
    width: 250px;
    
}
.cnt,h3{
    display: inline-block;
}
.cnt1{
    width: 240px;
    padding: 10px 20px;
    background-color: gainsboro;
    text-align: center;
    margin-left: 10px;

}
.cnt1:hover{
    background-color: silver;
    opacity: 0.9;
}
.cnt2{
    width: 240px;
    padding: 10px 20px;
    background-color: gainsboro;
    text-align: center;
    margin-left: 10px;

}
.cnt2:hover{
    background-color: silver;
    opacity: 0.9;
}
.cnt3{
    width: 240px;
    padding: 10px 20px;
    background-color: gainsboro;
    text-align: center;
    margin-left: 15px;

}
.cnt3:hover{
    background-color: silver;
    opacity: 0.9;
}
.cnt4{
    width: 240px;
    padding: 10px 20px;
    background-color: gainsboro;
    text-align: center;
    margin-left: 10px;

}
.cnt4:hover{
    background-color: silver;
    opacity: 0.9;
}
input{
    width: 96%;
    margin-left: 10px;
   padding: 10px;
}
iframe{
    margin-left: 20px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
@media screen and  (max-width:500px){
    .nav1{
        display: flex;
        flex-direction: column;
    }
   
    
}

