.g1{
    text-align: center;
    opacity: 0.65;
   font-family: sans-serif;
    
}
h1{
    letter-spacing: 2px;
    
}
#grid{
    
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 10% 10% 10%;
    justify-content: center;
}
.deepthi{
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    margin-left: 43%;
    
}

.deepthi:hover + #grid{
    row-gap: 20px;
    column-gap: 20px;
  
}
h2{
    
    margin-left: 40%;
    background-color: black;
    color: silver;
    opacity: 0.8;
    display: inline-block;
    padding: 10px;

    
}
h2:hover{
    opacity: 0.6;
    background-color: rgb(177, 194, 194);
    border-radius: 30px;
    color: white;
}
@media screen and  (max-width:550px) {
    #grid{
        
        display: flex;
        flex-direction: column;
    }
    
}